.dasb {
    height: auto;
    position: relative;


    li {
        list-style: none;
    }

    &-header {
        z-index: 1;
        position: sticky;
        top: 0;
        background-color: #222d32;
        color: white;
        transition: all .1s ease-out;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>.tool {
            color: rgb(255, 255, 255);
            font-size: 24px;
            padding: 8px 32px;
        }

        &-logo {
            width: 240px;
            display: flex;
            font-size: 24px;
            color: white;
            padding: 8px 48px;
        }

        &-right {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
        }

        &-togg {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s ease-out;
            cursor: pointer;
            font-size: 24px;
            padding-left: 32px;



            &>i {
                display: flex;
                align-items: center;
            }

        }


        i {
            display: flex;
            align-items: center;
            font-size: 16px;
            margin-right: 24px;
        }

        &-right {
            display: flex !important;
            justify-content: end;
            align-items: center;

            a {
                color: white;
            }

            &>li {
                list-style: none;
                margin: 0 8px;
            }

            &-action {
                display: flex;
                padding-right: 48px;

                &>label {
                    display: flex;
                    align-items: center;

                    &>img {
                        border-radius: 50%;
                    }

                    &>span {
                        margin: 0 0 0 12px;
                        font-size: 14px;
                    }

                    &>i {
                        margin: 0 0 0 12px;
                        font-size: 12px;
                    }
                }

                &>input {
                    display: none;
                    transition: all 0.7s ease;

                }

                &-drop {
                    display: none;
                    position: absolute;
                    top: 52px;
                    right: 24px;
                    background-color: white;
                    padding: 16px;
                    transition: all 0.7s ease;


                    &>a {
                        color: black;
                        transition: all .3s ease-out;

                        &>p {
                            padding: 8px 0 0;
                        }
                    }


                    &>a:hover {
                        color: #71b6f9;
                    }


                }

                &>input:checked~#drop {
                    display: block;
                }
            }
        }

    }

    &-wapper {

        &>input {
            display: none;
        }

        &>input:checked+.dasb-sidebar {
            width: 70px;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 16px 24px;
                text-align: center;
            }

            li:hover {
                border-left: 7px solid #008C89;
                background-color: #f8f9fa;


                a {
                    color: #71b6f9;
                }
            }

            span {
                display: none;
            }

        }

        &>input:checked~.dasb-wapper-main {
            width: calc(100% - 90px);
        }

        &-main {
            position: relative;
            width: calc(100% - 260px);
            transition: all .3s ease-in-out;

            &-bg {
                padding: 0 0 0 16px;

                &>.content {
                    background-color: #ffffff;
                    height: 100vh;
                    padding: 16px;
                }
            }
        }
    }

    &-sidebar {
        position: relative;
        width: 260px;
        background: #222d32;
        transition: all .3s ease-out;

        &-menu {
            position: sticky;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            font-size: 20px;
            color: white;
            z-index: 1;
            border-bottom: 3px solid #ccc;

        }

        &-logo {
            position: sticky;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            font-size: 20px;
            background-color: #020202;
            color: white;
            z-index: 1;

        }

        ul {
            position: sticky;
            top: 48px;
            overflow: auto;
            // height: 100vh;
            // scrollbar-width: none;
            // -ms-overflow-style: none;
        }

        // ul::-webkit-scrollbar {
        //     width: 0 !important;
        //     display: none;
        // }



        li {
            display: flex;
            align-items: center;
            padding: 16px 48px;
            color: #b8c7ce;
            border-left: 5px solid #222d32;
            border-top: 1px solid #222d32;
            border-bottom: 1px solid #222d32;
            transition: all .3s ease-in-out;
        }


        a.active li div {
            background-color: #161515;
            color: #dd4b39;
            padding: -1px 0;
        }

        a:hover li {
            border-left: 5px solid #dd4b39;
            background-color: #161515;
        }

        span {
            font-size: 16px;
            padding-left: 8px;
        }
    }
}


.navdb {
    align-items: center;
    color: #b8c7ce;
    border-left: 5px solid #222d32;
    border-top: 1px solid #222d32;
    border-bottom: 1px solid #222d32;
    transition: all .3s ease-in-out;
}

a.active .navdb {
    border-left: 5px solid #dd4b39;
    border-top: 1px solid #dd4b39;
    border-bottom: 1px solid #dd4b39;
    background-color: #161515;
}

a.active .navdb div {
    background-color: #161515;
    color: #dd4b39;
}





a.active .navdb div {
    background-color: #161515;
    color: #dd4b39;
}



a:hover .navdb {
    border-left: 5px solid #dd4b39;
    background-color: #161515;
}







.act-header {
    transition: all .3s ease-in-out;
}

a.active .act-header {
    background-color: #F39801;
}

a.active .act-header div {
    background-color: #F39801;
    color: #fff;
}

a.active .act-header div {
    background-color: #F39801;
    color: #fff;
}


a:hover .act-header {
    background-color: #F39801;
}

a .act-header {
    transition: all .3s ease-in-out;
    border-bottom: 1px solid #ccc;
}

a .act-header div {
    transition: all .3s ease-in-out;
}

a:hover .act-header div {
    color: #fff
}