
.UserGroup {
    background-color: #eee;
}

.user {

    &>.container {
        max-width: 1490px;
        margin: 0 auto;

        &>.user-row {
            display: flex;
        }
    }


}

.side-item {
    border-bottom: 1px solid #e0dcdc;

}

.side-item-text {
    color: #565555;
}





.side-waper {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
    min-height: 108vh;
    height: 100%;
}

.main-waper {
    background-color: #eee;

}


.main-waper-top {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
}

.main-waper-end {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 16px 0;
    background-color: #fff;
     min-height: 100vh;
      height: 100%;

    &>.main-hd {
        font-size: 20px;
        color: #565555;
    }
}

.main-poin {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    img {
        width: 65px;
    }


}

.main-sumpoin {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    img {
        width: 65%
    }


}
.poin-text {
    text-align: center;
    color: #F7941E;
    font-weight: bold;
    font-size: 14px;
}

.main-info {
    background-color: #FFF6E3;

    &-hd {
        border-bottom: 1px solid #ccc;
    }

    &>.row {
        margin: 0;
    }

}

.info-content {
    font-size: 13px;
}

.info-content-end {
    text-align: end;
}

.info-content-smoney {
    text-align: center;
}

.info-acc-hd {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

.info-acc {
    position: relative;
    padding: 8px;
    margin: 4px auto;
    padding-right: 24px;
    align-items: center;

    &>.sdt {
        display: flex;
        align-items: center;
        width: 80%;
        padding: 4px 8px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
        transition: all 0.3s;

        &>input {
            font-weight: 600;
            color: black;
        }

        &>p {
            text-align: end;
            font-size: 12px;

            &>.link {
                color: #2489F4;

            }
        }
    }


    &>label {
        display: flex;
        justify-content: start;
        padding-bottom: 8px;

    }

    &>input {
        width: 80%;
        padding: 4px 8px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
        transition: all 0.3s;
    }

    &>input:focus {
        box-shadow: 0 0 2px 3px rgba(0, 123, 255, .25);
    }

    &>p {
        margin-left: -60px;
    }
}

.gioitinh {
    display: flex;
    align-items: center;
}

.aa {
    text-align: center;
}

.save {
    background-color: #C92127;
    color: #fff;
    font-size: 16px;
    border-radius: 12px;
}

.rpass {
    margin-top: 24px;
    margin-bottom: 24px;
}

.dpass {
    display: none;
}

#rpass:checked~.dpass {
    display: block;
}

.ttlh {
    margin: 24px 0;

    &>input {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
        padding: 4px 8px;

    }

    &>input:focus {
        box-shadow: 0 0 2px 3px rgba(0, 123, 255, .25);
    }
}

.adr {
    margin: 24px 0;

    &>select {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
        padding: 4px 8px;

    }

    &>input {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
        padding: 4px 8px;

    }

    &>select:focus {
        box-shadow: 0 0 2px 3px rgba(0, 123, 255, .25);
    }
}

// Ví voucher 

.cart-item {
    display: flex;
    align-items: center;
    background-color: #eee;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 48px;

    &-checkbox {
        &>input {
            width: 16px;
            height: 16px;
        }
    }

    &-ct {
        font-size: 12px;

        &>a {
            color: #2F80ED;
        }

        &>a:hover {
            color: red;
        }
    }

    &-quantity {
        display: flex;
        justify-content: center;
        align-items: center;


        &>input {
            width: 50px;
            background-color: red;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        background-color: #C92127;
        color: white;

        &-checkbox {
            display: flex;
            align-items: center;

            &>input {
                width: 16px;
                height: 16px;
            }

            &>span {
                font-size: 16px;
            }
        }
    }

}

/* Ẩn modal ban đầu */